<h1>Listing Subscribers</h1>  

<ul class="choices">
  <li><%= link_to 'Download CSV', admin_subscribers_path(:csv), :title => "Download these subscribers as a comma separated list of values" %></li>
</ul>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <%= sortable_table_header :name => "Email",  :sort => "email" %>
      <%= sortable_table_header :name => "Name",  :sort => "name" %>
      <%= sortable_table_header :name => "Subscribed",  :sort => "created_at" %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

<% for subscriber in @subscribers %>
    <tr id="subscriber:<%= subscriber.id %>">
      <td><%= mail_to subscriber.email %></td>
      <td><%=h subscriber.name %></td>
      <td class="date"><%= subscriber.created_at.to_formatted_s(:short) %></td>
      <td><%= link_to 'Destroy', admin_subscriber_path(subscriber), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => "Delete this subscriber" %></td>
    </tr>  
<% end %> 
  </tbody>
  <tfoot>
    <tr>
      <%= sortable_table_header :name => "Email",  :sort => "position" %>
      <%= sortable_table_header :name => "Name",  :sort => "title" %>
      <%= sortable_table_header :name => "Subscribed",  :sort => "created_at" %>
      <th>Actions</th>
    </tr>
  </tfoot>
</table>

<%= will_paginate %>