<h2>Subscribe to our Newsletter</h2>
<div class="newsletter-form" id="subscribe_form">
<% form_for @subscriber, :method => :post do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <p><%= f.label :email %>
  <%= f.text_field :email %></p>

  <p><%= f.submit 'Send' %></p>
<% end %>
</div>